Health {
	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	color: #fff;
	opacity: 0;
	transition: all 0.5s ease-out;
	font-family: Pangolin;
	font-size: 35px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 1%;
	top: 1%;
	width: 100%;
	height: 100%;

	label {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);
	}
}

Vignette {
	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	background-image: url( https://github.com/renewed-networks/REngine-Content/blob/main/vignette.png?raw=true );
	background-color: #fff;
	background-size: 100%;
	background-position: center;
	opacity: 0;
	transition: all 0.5s ease-out;
}

ammo {
	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	opacity: 0;
	transition: all 0.5s ease-out;
	font-family: Pangolin;
	font-size: 35px;
	font-weight: bold;
	color: white;
	position: absolute;
	left: 80%;
	top: 90%;
	width: 100%;
	height: 100%;

	label {
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.30);

		&.danger {
			color: #f00;
		}
	}
}

CurrentTool
{
	position: absolute;
	background: linear-gradient(to right, rgba(black, 0.5), rgba(black, 0.0));
	top: 100px;
	left: -5px;
	padding: 30px 70px;
	flex-direction: column;
	width: 560px;
	opacity: 0.0;

	&.active
	{
		opacity: 1.0;
	}

	.title
	{
		font-family: Open Sans;
		font-size: 50px;
		font-weight: bold;
		text-shadow: 4px 4px 10px rgba( black, 0.3 );
		color: white;
	}

	.description
	{
		padding-top: 5px;
		padding-left: 10px;
		font-family: Roboto;
		font-size: 20px;
		font-weight: normal;
		text-shadow: 2px 2px 5px rgba( black, 0.3 );
		color: white;
		opacity: 0.8;
	}
}

rootpanel {
	background-color: rgba( #333, 0 );
	transition: background-color 0.2s ease-in;

	&.spawnmenuopen {
		transition: background-color 0.3s ease-out;
		background-color: rgba( #000, 0.8 );
	}

	&.devcamera {
		display: none;
	}
}


InventoryBar {
	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	opacity: 0;
	transition: all 0.2s ease-out;
	position: absolute;
	width: 100%;
	bottom: 18px;
	justify-content: center;
	flex-direction: column;
	top: 5%;
	left: 15px;
}

InventoryIcon {
	width: 100px;
	height: 30px;
	background-color: rgba( #222, 0.1 );
	margin: 0px 2px;
	position: relative;
	transition: all 0.2s ease-in-out;
	margin-top: 5px;
	font-family: tahoma;
	font-weight: bold;
	border-radius: 4px;

	.item-name {
		padding: 8%;
		color: white;
		text-align: center;
		font-family: Roboto;
		font-weight: bold;
		left: 0;
		right: 0;
		font-size: 13px;
		position: absolute;
		bottom: 0;
		opacity: 0.7;
		transition: all 0.5s ease-in-out;
		text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.30);
	}

	&.active {
		background-color: rgba( #ffd800, 0.5 );
		transition: all 0.5s ease-out;
		width: 100px;
		height: 35px;

		.item-name {
			opacity: 1;
			transition: all 0.1s ease-out;
			font-size: 13px;
		}
	}
}
