

text.title {
	font-family: 'Open Sans ExtraBold';
	font-size: 40px;
	font-weight: 900;
	color: white;
	position: absolute;
	left: 67.5%;
	top: 1%;
	text-shadow: 5px 5px 10px rgba( black, 0.8 );
}

text.wip {
	font-family: 'Open Sans ExtraBold';
	font-size: 40px;
	font-weight: 900;
	background-color: gradient();
	color: white;
	position: absolute;
	left: 78%;
	top: 4%;
	text-shadow: 5px 5px 10px rgba( black, 0.8 );
}