.scoreboard {
	position: absolute;
	z-index: 100;
	flex-direction: column;
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	color: white;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	opacity: 0;
	background-color: rgba( 0, 0, 0, 0.9 );
	transition: all 0.1s ease-out;
	transform: scale( 1.05 );
	transform-origin: 50% 50%;

	&.open {
		opacity: 1;
		transform: scale( 1 );
	}

	.name {
		flex-grow: 1;
	}

	.deaths, .kills, .ping, .id {
		text-align: right;
		min-width: 10%;
	}

	.header {
		font-weight: 200;
		opacity: 0.3;
		border-bottom: 2px solid rgba( white, 0.6 );
		min-width: 50%;
	}

	.canvas {
		flex-direction: column;
		min-height: 50%;
		min-width: 50%;

		.entry {
			margin-bottom: 2px;
			padding: 4px;

			&.me {
				color: yellow;
			}
		}
	}
}
